$spinnerColor ?= null
$spinnerHeight ?= null
$spinnerWidth ?= null
if $spinnerHeight isnt null 
    $diffHeight  = ($spinnerHeight/2) + ($spinnerHeight/4)



if $spinnerColor isnt null
    .sk-cube-grid .sk-cube
        background-color: $spinnerColor;


if $spinnerWidth isnt null
    .sk-cube-grid
        width: $spinnerWidth



if $spinnerHeight isnt null
    .sk-cube-grid
        height: $spinnerHeight
        margin-top: "calc(50vh - %s)" %$diffHeight

    


