$spinnerColor ?= null
$spinnerHeight ?= null
$spinnerWidth ?= null

if $spinnerColor isnt null
    .double-bounce1, .double-bounce2
        background-color: $spinnerColor;


if $spinnerWidth isnt null
    .spinner
        width: $spinnerWidth



if $spinnerHeight isnt null
    .spinner
        height: $spinnerHeight


    


